body {
	font-family: 'Raleway', sans-serif;
	background-image: url('../images/bg.jpg');
	background-size: cover;
	background-attachment: fixed;
}


.jumbotron {
	background-color: rgba(255,255,255,0.8);
}


p img {
	width: 150px;
}


form {
	margin: 40px auto;
}